<div class="nsta-block__vijet-header">
    {{ langMessages['TITLE_INSTA'] }}
    <a href="https://www.instagram.com/amika.powdercoatings/" target="_blank" class="border-bottom-solid">@amika.powdercoatings</a>
</div>
<div class="row">
    {% for item in result.ITEMS %}
        <div class="col-lg-4 col-xs-4"><a href="{{ item.LINK }}" target="_blank"><img src="{{ item.SRC }}" alt=""></a>
        </div>
    {% endfor %}
</div>