<div class="about-teaser-mav"  id="{{ GetEditAreaId(item) }}">
    <div class="container">
        <div class="flex-row">
            <a href="www.mav.by" title=""><img src="{{ item.PREVIEW_PICTURE }}" alt=""></a>
            <div class="text">
                <div class="about-teaser-mav__title">{{ item.NAME }}</div>
                {{ item.PREVIEW_TEXT }}
            </div>
        </div>
    </div>
</div>