<div class="container bb-1" id="{{ GetEditAreaId(item) }}">
    <div class="assort-about">
        <div class="flex-row">
            <img src="{{ item.PREVIEW_PICTURE }}" alt="">
            <div class="text">
                <div class="assort-about__title">{{ item.NAME }}</div>
                <div class="text-descr">
                    {{ item.PREVIEW_TEXT }}
                </div>
            </div>
        </div>
    </div>
</div>