<div class="content-under-head clearfix" id="{{ GetEditAreaId(item) }}">
    <div class="container">
        <div class="flex-row">
            <img src="{{ item.PREVIEW_PICTURE }}" alt="">
            <div class="content-under-head__slogan">{{ item.PREVIEW_TEXT }}
            </div>
        </div>
    </div>
</div>