.textarea-custom-placeholder {
    top: 3px;
    color: #999;
}

.order-detail__tip-l {
    color: #e31e24;
    opacity: 0;

}

.map-area__addres {
    min-height: 500px;
    height: auto;
}

.map-area__addres li:after {
    content: "";
    display: table;
    clear: both;
}

.main-slider .owl-dots .owl-dot {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid #e5e5e5;
}

.main-slider .owl-dots .owl-dot.active {
    background: #808080;
    border: 1px solid #808080;
}

.main-slider .owl-dots {
    text-align: center;
    bottom: 11px;
    left: 0;
    right: 0;
}

.main-slider .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 25%;
}

.main-slider .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 25%;
}

.main-slider .owl-controls {
    width: 100%;
}

.main-slider .owl-carousel .owl-controls .owl-nav .owl-prev, .main-slider .owl-carousel .owl-controls .owl-nav .owl-next {
    top: inherit;
    bottom: 21px;
}

.main-slider .owl-carousel .owl-controls .owl-nav .owl-next:before {
    content: '\f105';
}

.main-slider .owl-carousel .owl-controls .owl-nav .owl-prev:before {
    content: '\f104';
}

/*Страница поиска паспортов качества лаборатории ОТК*/
.passport-search {
    margin-top: 36px;
}

.passport-search .order-search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: none;
    padding: 0;
    position: relative;
}

.passport-search .search__txt {
    padding: 0 40px 0 10px;
    border: 1px solid #cccccc;
    background: url("../amika/images/i/ico-order-search.png") no-repeat center right 9px;
    width: 100%;
}

.passport-search .search__submit {
    margin-left: 10px;
    display: block;
    float: right;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 31px;
    background: #e31e24;
    font-family: "MyriadPro-Bold", sans-serif;
    border: none;
    outline: none;
}

.reset-btn {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 38px;
    width: 38px;
    border: none;
    text-indent: 9999px;
    padding: 0;
    background: url('../amika/images/i/input-clearable-x.png') center no-repeat #fff;
    z-index: -10;
    opacity: 0;
}

.reset-btn.active {
    z-index: 10;
    opacity: 1;
}

.order-search__year {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    border: 1px solid #cccccc;
    margin-right: 20px;
    width: 126px;
}

.order-search__year .select2-container--default .select2-selection--single {
    border: none;
    height: 38px;
    line-height: 38px;
}

.order-search__year .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 38px;
    line-height: 38px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 10px;
    width: 126px;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 14px;
}

.order-search__year .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;
    width: 9px;
    background: url("../amika/images/i/arrow-bottom.png") center no-repeat;
}

.order-search__year select {
    opacity: 0;
}

.select2-container--open .select2-dropdown--below {
    min-width: 126px;
}

.select2-container--open .select2-dropdown {
    left: -1px;
    top: 1px;
}

.select2-container--focus.select2-container--open .order-search__year .select2-container--default .select2-selection--single .select2-selection__arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.order-search__year .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
}

.order-search__year ul {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    z-index: 20;
    background: #fff;
    border: 1px solid #cccccc;
    max-height: 200px;
    overflow-y: scroll;
    display: none;

}

.order-search__year:hover ul {
    display: block;
}

.order-search__year ul li {
    padding: 0 10px;
    text-align: center;
}

.order-search__year ul li:hover {
    background: #f0f0f0;
}

.passport-table th, .passport-table td {
    text-align: left;
}

.passport-table.order-table tr:hover td {
    background: #f54040;
    color: #fff;
    font-weight: bold;
}

.passport-table.order-table tr:hover td a {
    color: #fff;
    border-color: rgba(255, 255, 255, .2);
}

.passport-search *, .passport-table * {
    -webkit-transition: 0s !important;
    -o-transition: 0s !important;
    transition: 0s !important;
}

.single-goods__second-level__option li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.option-wrap {
    padding-left: 20px;
    margin-bottom: -5px;
}

.single-goods__second-level__option .option-data-pic {
    margin-bottom: 5px;
}

.single-goods__second-level__option li .label {
    white-space: nowrap;
}

.list-ex-1 li {
    color: #232323;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 21px;
}

.droptabs-data__slider .owl-prev, .droptabs-data__slider .owl-next {
    top: 50%;
    margin-top: -20px;
}

.owl-item span {
    display: none !important;
}

.droptabs__content-item__body:after {
    content: "";
    display: table;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

.droptabs-data__slider {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 200px;
}

.then-colored__item__overlay {
    padding: 10px;
    text-align: center;
}

.then-colored__item__overlay__link {
    position: static;
    margin-top: 10px;
}

.fancybox-img-right:after {
    content: '';
    display: block;
    line-height: 0;
    font-size: 0;
    clear: both;
}

.fancybox-img-right .right-side {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.two-columns {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    padding: 20px 0;
}

.stages-prod__item:last-of-type .title::after {
    display: none;
}

.js--droptabs-data__slider.slick-dotted.slick-slider {
    width: auto;
    float: left;
}

.droptabs__next, .droptabs__prev {
    width: 20px;
    height: 38px;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -19px;
    cursor: pointer;
}

.droptabs__next {
    right: 22px;
    background: url(/local/templates/amika/amika/css/../images/i/nav-arrow-right.png) no-repeat center;
}

.droptabs__prev {
    left: 22px;
    background: url(/local/templates/amika/amika/css/../images/i/nav-arrow-left.png) no-repeat center;
}

.js--droptabs-data__slider .slick-dots {
    display: block !important;
    bottom: 10px;
}

.js--droptabs-data__slider .slick-dots li {
    width: 12px;
    height: 12px;
    margin: 0 4px;
}

.js--droptabs-data__slider .slick-dots li button {
    width: 12px;
    height: 12px;
    padding: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .75);
}

.js--droptabs-data__slider .slick-dots li.slick-active button {
    background: #e31e24;
}

.js--droptabs-data__slider .slick-dots li button:before {
    display: none;
}

.tabs {
    font-size: 0;
    line-height: 0;
}

.tabs-wrap {
    margin: 30px 0;
}

.tabs-wrap .order-table {
    margin-bottom: 0;
}

.tabs-wrap .order-detail {
    padding-top: 0;
}

.tab {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #E6E6E6;
    height: 41px;
    line-height: 39px;
    background: #F3F3F3;
    font-weight: bold;
    display: inline-block;
    padding: 0 29px;
    font-size: 16px;
    position: relative;
}

.tab:not(:first-of-type) {
    border-left: none;
}

.tab.active {
    cursor: default;
    background: #fff;
    border-top: 2px solid #E31E24;
    border-bottom: none;
    top: 1px;
}

.panel {
    display: none;
    border: 1px solid #e6e6e6;
    padding: 20px 15px 25px;
}

.panel.active {
    display: block;
}

.panels {
    margin-top: -1px;
}

.shipment-table th:last-of-type, .shipment-table td:last-of-type {
    width: 170px;
    text-align: left;
}

.shipment-table th, .shipment-table td {
    padding-left: 25px;
}

.panel * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-aside {
    width: 280px;
    margin-right: 21px;
    display: inline-block;
    vertical-align: top;
}

.panel-main {
    display: inline-block;
    width: -webkit-calc(100% - 280px - 25px);
    width: calc(100% - 280px - 25px);
    vertical-align: top;
}

#shipment-date .ui-datepicker {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #E6E6E6;
}

.order-detail__title {
    display: none;
}

#ui-datepicker-div {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .map-area__addres, .map-contacts {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .active-btns a:last-of-type {
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
    }

    .about-best__item.best-1 .button-area .slogan {
        padding: 0 38px;
    }

    .passport-search .search__submit {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .other-content-header__data .activiti li:nth-of-type(1) {
        margin-right: 0;
    }

    .other-content-header__data .activiti li {
        margin-bottom: 10px;
    }

    .other-content-header__data .activiti li:nth-of-type(2) {
        margin-bottom: 0;
    }

    .other-content-header__data .activiti li:last-of-type {
        margin-bottom: 10px;
    }

    .order-table th {
        line-height: normal;
    }

    .tabs-wrap .order-detail {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 640px) {
    .tabs-wrap {
        opacity: 0;
        margin: 30px -15px;
    }

    .tab {
        display: block;
        border: 1px solid #E6E6E6;
        background: #fff;
        padding-left: 15px;
        padding-right: 35px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .tab::after {
        width: 12px;
        height: 6px;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -3px;
        content: "\f107";
        font-family: FontAwesome;
        font-size: 16px;
        line-height: 7px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .tab:not(:first-of-type) {
        border-left: 1px solid #E6E6E6;
        margin-top: -1px;
    }

    .tab.active {
        cursor: pointer;
        color: #E31E24;
        border: 1px solid #E6E6E6;
        top: 0;
    }

    .tab.active::after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .panel {
        padding: 0;
        border: none;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .panel-aside {
        margin: 0 auto 20px;
        display: block;
    }

    .panel-main {
        display: block;
        width: auto;
    }

    .content-account .order-table tbody tr:hover td:first-child:before {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-datepicker .ui-datepicker-next:after {
        margin-left: -14px;
    }

    .shipment-table th:last-of-type, .shipment-table td:last-of-type {
        width: 134px;
    }
}

@media screen and (max-width: 600px) {
    .active-btns .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
        display: inline-block;
        width: 100%;
    }

    .two-columns {
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media screen and (max-width: 480px) {
    .main-slider__item {
        height: 250px;
        padding-top: 90px;
    }

    .main-slider__item .txt *, .main-slider__item .container img {
        display: none;
    }

    .main-slider__item .txt p:first-of-type {
        display: block;
    }

    .account-prv .account-header {
        padding-bottom: 17px;
    }

    .account-prv .account-header > a {
        margin-bottom: 10px;
    }

    .account-prv .account-header > a:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 360px) {
    .g-recaptcha {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .order-table.responsive tr td:last-of-type {
        max-width: 80px;
    }

}

.sale-catalogue__slider {
    font-size: 0;
    margin-right: -15px;
}

.sale-catalogue__slider .item {
    width: -webkit-calc(20% - 15px);
    width: calc(20% - 15px);
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 15px;
}

.sale-catalog__more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #F2F2F2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    color: #E51F20;
    margin-top: 15px;
    cursor: pointer;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.sale-catalog__more:hover {
    background: #E8E8E8;
}

.sale-catalog__more svg {
    margin-right: 6px;
    margin-top: -3px;
}

.sale-catalogue__slider.sale-slider-view {
    height: 405px;
    overflow: hidden;
    position: relative;
}

.sale-catalogue__slider.sale-slider-view::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 63px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.85)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.85) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.85) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.85) 100%);
    z-index: 10;
    pointer-events: none;
}

.sale-catlogue-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sale-catlogue-wrap .sale-catalogue__title {
    margin-bottom: 0;
}

.pdf-download {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 36px;
    padding-right: 15px;
    text-transform: uppercase;
    color: #E51F20;
    -webkit-transition: border-color 0.1s;
    -o-transition: border-color 0.1s;
    transition: border-color 0.1s;
}

.pdf-download:hover {
    border-color: #E51F20;
}

.pdf-download__ico {
    background: #E51F20;
    height: 36px;
    width: 36px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-right: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: -1px;
}

.sale-catalogue__item__remainder {
    margin-top: 17px;
}

.order-detail {
    font-size: 14px;
}

.order-detail-item {
    margin-bottom: -1px;
    cursor: pointer;
}

.order-detail-item:nth-of-type(odd) .order-detail-item__title {
    background: #f7f7f7;
}

.order-detail-header {
    margin-bottom: -1px;
}

.order-detail-header, .order-detail-item__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.order-detail-header__title {
    padding: 12px 10px 11px;
    font-family: "MyriadPro-Bold", sans-serif;
    background: #ebebeb;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    border: 1px solid #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 50%;
    line-height: normal;
}

.order-detail-header__title:first-of-type, .order-detail-item__title:first-of-type {
    margin-right: -1px;
}

.order-detail-item__title {
    padding: 8px 10px;
    background: #f0f0f0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    border: 1px solid #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    width: 50%;
    line-height: normal;
}

.order-detail-item__title span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.order-detail-item__container {
    display: none;
    opacity: 0;
    height: auto;
}

.order-detail-table-wrap {
    padding: 15px 1px 20px 25px;
}

.order-detail-table {
    width: 100%;
    min-width: 580px;
}

.order-detail-item__header {
    position: relative;
}

.order-detail-item__header::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 14px;
    border-style: solid;
    border-width: 5px 4.5px 0 4.5px;
    border-color: #000000 transparent transparent transparent;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.order-detail-item__header.active::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.order-detail-table th {
    text-align: left;
    padding: 13px 15px 10px;
    border: 1px solid #E6E6E6;
    white-space: nowrap;
    line-height: normal;
}

.order-detail-table th:last-of-type {
    text-align: center;
}

.order-detail-table td {
    padding: 8px 15px 6px;
    border: 1px solid #E6E6E6;
    vertical-align: top;
    white-space: nowrap;
    line-height: normal;
}

.order-detail-table td:first-of-type {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.order-detail-table td:nth-of-type(2) {
    width: 153px;
}

.order-detail-table td:nth-of-type(3) {
    width: 144px;
}

.order-detail-table td:last-of-type {
    text-align: center;
    padding: 0;
    width: 282px;
    vertical-align: middle;
}

.order-item-status {
    height: 31px;
    line-height: 31px;
    background: #000;
    color: #fff;
    padding: 0 10px;
    width: 100%;
}

.order-draft {
    background: #999999;
}

.order-consideration {
    background: #F1484D;
}

.order-ready {
    background: #FEC514;
}

.order-shipped {
    background: #5370F0;
}

.jspHorizontalBar {
    bottom: 0;
    top: 15px;
    height: 4px;
}

.jspTrack {
    background: #EFEFEF;
}

.jspDrag {
    background: #B3B3B3;
}

@media (max-width: 1024px) {
    .sale-catalogue__slider .item {
        width: -webkit-calc(33.3333% - 15px);
        width: calc(33.3333% - 15px);
    }

    .order-detail-table-wrap {
        padding-top: 25px;
    }
}

@media (max-width: 768px) {
    .sale-catalogue__slider .item {
        width: -webkit-calc(50% - 15px);
        width: calc(50% - 15px);
    }
}

@media (max-width: 640px) {
    .sale-catalogue__slider {
        margin-right: 0;
    }

    .sale-catalogue__slider .item {
        width: 100%;
        margin-right: 0;
    }

    .sale-catlogue-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .sale-catlogue-wrap .sale-catalogue__title {
        margin-bottom: 15px;
    }

    .sale-catlogue-wrap {
        margin-bottom: 20px;
    }

    .sale-catalogue__item {
        height: auto;
        padding: 15px 21px 16px 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .sale-catalogue__item__pic {
        width: 83px;
        height: 60px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 12px;
    }

    .sale-catalogue__item__title {
        font-size: 12px;
    }

    .sale-catalogue__slider.sale-slider-view {
        height: 268px;
    }

    .sale-catalogue__slider.sale-slider-view::after {
        height: 33px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.85)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.85) 100%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.85) 100%);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.85) 100%);
    }

    .sale-catalog__more {
        margin-top: 10px;
    }

    .sale-catalogue__item__remainder {
        margin-top: 10px;
        color: #8D8D8D;
    }

    .order-detail {
        font-size: 13px;
    }

    .order-detail-table-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .order-detail-table td:first-of-type {
        max-width: 211px;
    }

    .order-detail-table td:nth-of-type(2), .order-detail-table td:nth-of-type(3), .order-detail-table td:last-of-type, .order-detail-table th {
        width: auto;
    }
}

/*what we*/
.what-we {
    background: url("../amika/images/what-we-bg.jpg") center no-repeat;
    background-size: cover;
    padding: 56px 0;
}

.what-we .block-title {
    margin-bottom: 20px;
}

.what-we-inner {
    display: flex;
}

.what-we-left {
    flex-grow: 1;
    padding-right: 40px;
}

.what-we-right {
    flex: none;
    width: 460px;
}

.what-we__btn {
    height: 50px;
    display: inline-block;
    padding: 0 62px;
    background: #E51F20;
    color: #fff;
    text-transform: uppercase;
    font-family: "MyriadPro-Bold", sans-serif;
    font-size: 16px;
    line-height: 50px;
    border-radius: 4px;
}

.what-we-left__title {
    font-family: "MyriadPro-Bold", sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 45px;
    line-height: 51px;
}

.what-we-right__title {
    font-family: "MyriadPro-Bold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 35px;
    line-height: 24px;
}

.what-we-advantages {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.what-we-advantages-item {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.what-we-advantages__img {
    width: 50px;
    text-align: center;
    margin-right: 14px;
}

.what-we-advantages__description {
    font-family: "MyriadPro-Bold", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px){
    .what-we {
        padding: 30px 0 10px;
    }

    .what-we-left__title {
        font-size: 24px;
        line-height: 31px;
    }

    .what-we-right__title {
        font-size: 14px;
        line-height:normal;
    }

    .what-we-advantages__description {
        font-size: 12px;
        line-height: 15px;
    }

    .what-we-right {
        width: 400px;
    }

}

@media screen and (max-width: 768px) {
    .what-we-inner {
        flex-direction: column;
    }

    .block-title:after {
        margin: 6px 0 0;
    }

    .what-we-left {
        padding-right: 0;
    }

    .what-we-left__title br {
        display: none;
    }

    .what-we-left__title {
        margin-bottom: 20px;
    }

    .what-we-right {
        width: 100%;
    }
    
    .what-we__btn, .what-we__btn:hover {
        display: block;
        background: transparent;
        padding: 0 10px;
        color: #E31E1E;
        border: 2px solid #E31E1E;
        border-radius: 4px;
        height: 40px;
        line-height: 36px;
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .what-we-right__title {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 480px) {
    .what-we-advantages__img {
        margin-right: 0;
        margin-bottom: 12px;
        width: 40px;
    }

    .what-we-advantages-item {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}

/* customers-talk */
.customers-talk {
    background: #EAEAEA;
    padding: 38px 0 27px;
}

.customers-talk-item {
    background: #fff;
    border-radius: 10px;
    padding: 36px 24px 23px;
    position: relative;
    overflow: hidden;
}

.customers-talk__ico {
    color: #E51F20;
    background: #eaeaea;
    width: 36px;
    height: 36px;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 4px;
    left: 32px;
    top: -22px;
}

.customers-talk__ico span {
    display: inline-block !important;
    transform: rotate(-45deg);
    text-align: center;
    width: 14px;
    margin-top: 14px;
    margin-left: 24px;
    font-size: 35px;
}

.customers-talk__txt {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.customers-talk__lnk {
    color: #E51F20;
    border-bottom: 1px dotted rgba(229,31,32,.5);
    font-size: 14px;
}

.customers-talk__lnk:hover {
    border-bottom-color: transparent;
}

.customers-talk-customer {
    display: flex;
    border-top: 1px solid #F3F3F3;
    margin-top: 18px;
    padding-top: 19px;
}

.customers-talk-customer__title {
    font-family: "MyriadPro-Bold", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 3px;
}

.customers-talk-customer__logo {
    width: 51px;
    height: 51px;
    margin-right: 18px;
    text-align: center;
}

.customers-talk-customer__logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.customers-talk-customer__subtitle {
    font-size: 14px;
    color: #A1A1A1;
    font-family: "MyriadPro-Regular", sans-serif;
    margin-bottom: 4px;
}

.customers-talk-customer__name {
    font-size: 14px;
    font-family: "MyriadPro-Bold", sans-serif;
}

.block-title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.customers-talk__btn {
    border: 1px solid #E51F20;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    height: 36px;
    line-height: 34px;
    text-align: center;
    color: #E51F20;
    padding: 0 39px;
    margin-top: -6px;
}

.owl-dots {
    text-align: center;
    font-size: 0;
    margin-top: 20px;
}

.customers-talk .owl-dot {
    width: 10px;
    height: 10px;
    border: 1px solid #F63738;
    margin-right: 8px;
    border-radius: 50%;
    display: inline-block;
}

.customers-talk .owl-dot.active {
    background: #F63738;
}

@media screen and (max-width: 1024px){
    .customers-talk-item {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*widget-tile*/
.widget-tile {
    padding: 43px 0 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget-tile__item {
    flex: none;
    width: 48%;
    display: flex;
    margin-bottom: 20px;
}

.widget-tile__item img {
    margin: 10px 30px 30px 0;
    max-width: 37%;
    min-width: 100px;
    align-self: flex-start;
    flex: none;
}

.widget-tile__title {
    color: #323232;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "MyriadPro-Bold", sans-serif;
    margin-bottom: 20px;
}

.widget-tile p {
    line-height: 22px;
    color: #323232;
    font-size: 16px;
}

.widget-tile-text {
    flex-grow: 1;
}

@media screen and (max-width: 992px) {
    .widget-tile__item {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .widget-tile {
        padding-bottom: 0;
    }

    .widget-tile__item {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .widget-tile__item img {
        margin: 0 auto 30px;
        max-width: 100%;
        min-width: 0;
    }
}