
<!-- customers-talk-->
<div class="customers-talk">
    <div class="customers-talk-container container">
        <div class="block-title-wrap">
            <div class="block-title">Клиенты говорят</div>
            <a href="#" class="customers-talk__btn">Все отзывы</a>
        </div>

        <div class="customers-talk-slider">
            <div class="customers-talk-item">
                <div class="customers-talk__ico"><span>“</span></div>
                <div class="customers-talk__txt">
                    ОАО «Гомсельмаш» с 2012 года и по настоящее время на двух окрасочных линиях производства IMEL
                    (Италия), используется полиэфирная порошковая краска «AMIKA» RAL 3003, RAL 7024, RAL 9005 для
                    окрашивания деталей и сборочных единиц сельскохозяйственной техники.
                </div>
                <a href="#" class="customers-talk__lnk">Читать далее . . .</a>
                <div class="customers-talk-customer">
                    <div class="customers-talk-customer__logo">
                        <img src="/local/templates/amika/amika/images/temp-logo-customer.png" alt="">
                    </div>
                    <div class="customers-talk-customer__info">
                        <div class="customers-talk-customer__title">ЗАО «РЕМЕЗА»</div>
                        <div class="customers-talk-customer__subtitle">Зам. директора по ком. вопросам</div>
                        <div class="customers-talk-customer__name">Рубинчик Юрий Львович</div>
                    </div>
                </div>
            </div>
            <div class="customers-talk-item">
                <div class="customers-talk__ico"><span>“</span></div>
                <div class="customers-talk__txt">
                    ОАО «Гомсельмаш» с 2012 года и по настоящее время на двух окрасочных линиях производства IMEL
                    (Италия), используется полиэфирная порошковая краска «AMIKA» RAL 3003, RAL 7024, RAL 9005 для
                    окрашивания деталей и сборочных единиц сельскохозяйственной техники.
                </div>
                <a href="#" class="customers-talk__lnk">Читать далее...</a>
                <div class="customers-talk-customer">
                    <div class="customers-talk-customer__logo">
                        <img src="/local/templates/amika/amika/images/temp-logo-customer.png" alt="">
                    </div>
                    <div class="customers-talk-customer__info">
                        <div class="customers-talk-customer__title">ЗАО «РЕМЕЗА»</div>
                        <div class="customers-talk-customer__subtitle">Зам. директора по ком. вопросам</div>
                        <div class="customers-talk-customer__name">Рубинчик Юрий Львович</div>
                    </div>
                </div>
            </div>
            <div class="customers-talk-item">
                <div class="customers-talk__ico"><span>“</span></div>
                <div class="customers-talk__txt">
                    ОАО «Гомсельмаш» с 2012 года и по настоящее время на двух окрасочных линиях производства IMEL
                    (Италия), используется полиэфирная порошковая краска «AMIKA» RAL 3003, RAL 7024, RAL 9005 для
                    окрашивания деталей и сборочных единиц сельскохозяйственной техники.
                </div>
                <a href="#" class="customers-talk__lnk">Читать далее...</a>
                <div class="customers-talk-customer">
                    <div class="customers-talk-customer__logo">
                        <img src="/local/templates/amika/amika/images/temp-logo-customer.png" alt="">
                    </div>
                    <div class="customers-talk-customer__info">
                        <div class="customers-talk-customer__title">ЗАО «РЕМЕЗА»</div>
                        <div class="customers-talk-customer__subtitle">Зам. директора по ком. вопросам</div>
                        <div class="customers-talk-customer__name">Рубинчик Юрий Львович</div>
                    </div>
                </div>
            </div>
            <div class="customers-talk-item">
                <div class="customers-talk__ico"><span>“</span></div>
                <div class="customers-talk__txt">
                    ОАО «Гомсельмаш» с 2012 года и по настоящее время на двух окрасочных линиях производства IMEL
                    (Италия), используется полиэфирная порошковая краска «AMIKA» RAL 3003, RAL 7024, RAL 9005 для
                    окрашивания деталей и сборочных единиц сельскохозяйственной техники.
                </div>
                <a href="#" class="customers-talk__lnk">Читать далее...</a>
                <div class="customers-talk-customer">
                    <div class="customers-talk-customer__logo">
                        <img src="/local/templates/amika/amika/images/temp-logo-customer.png" alt="">
                    </div>
                    <div class="customers-talk-customer__info">
                        <div class="customers-talk-customer__title">ЗАО «РЕМЕЗА»</div>
                        <div class="customers-talk-customer__subtitle">Зам. директора по ком. вопросам</div>
                        <div class="customers-talk-customer__name">Рубинчик Юрий Львович</div>
                    </div>
                </div>
            </div>
            <div class="customers-talk-item">
                <div class="customers-talk__ico"><span>“</span></div>
                <div class="customers-talk__txt">
                    ОАО «Гомсельмаш» с 2012 года и по настоящее время на двух окрасочных линиях производства IMEL
                    (Италия), используется полиэфирная порошковая краска «AMIKA» RAL 3003, RAL 7024, RAL 9005 для
                    окрашивания деталей и сборочных единиц сельскохозяйственной техники.
                </div>
                <a href="#" class="customers-talk__lnk">Читать далее...</a>
                <div class="customers-talk-customer">
                    <div class="customers-talk-customer__logo">
                        <img src="/local/templates/amika/amika/images/temp-logo-customer.png" alt="">
                    </div>
                    <div class="customers-talk-customer__info">
                        <div class="customers-talk-customer__title">ЗАО «РЕМЕЗА»</div>
                        <div class="customers-talk-customer__subtitle">Зам. директора по ком. вопросам</div>
                        <div class="customers-talk-customer__name">Рубинчик Юрий Львович</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /customers-talk -->

<!-- what we markup -->
<div class="what-we">
    <div class="what-we-container container">
        <div class="block-title">Почему мы?</div>
        <div class="what-we-inner">
            <div class="what-we-left">
                <div class="what-we-left__title">
                    Комплексный<br>
                    подход-основа нашей
                    отличной работы
                </div>
                <a href="#" class="what-we__btn btn">Подробнее</a>
            </div>
            <div class="what-we-right">
                <div class="what-we-right__title">
                    Почему количество тех, кто выбирает порошковую краску Amika, увеличивается
                    с каждым днем?
                </div>
                <div class="what-we-advantages">
                    <div class="what-we-advantages-item">
                        <div class="what-we-advantages__img">
                            <img src="/local/templates/amika/amika/images/i/ico-brainstorm.png" alt="">
                        </div>
                        <div class="what-we-advantages__description">
                            Думаем вместе<br> с заказчиком
                        </div>
                    </div>
                    <div class="what-we-advantages-item">
                        <div class="what-we-advantages__img">
                            <img src="/local/templates/amika/amika/images/i/ico-big-stopwatch.png" alt="">
                        </div>
                        <div class="what-we-advantages__description">
                            Скорость обработки<br> заказа 5 минут
                        </div>
                    </div>
                    <div class="what-we-advantages-item">
                        <div class="what-we-advantages__img">
                            <img src="/local/templates/amika/amika/images/i/ico-maps-and-location.png" alt="">
                        </div>
                        <div class="what-we-advantages__description">
                            На расстоянии<br> одного звонка
                        </div>
                    </div>
                    <div class="what-we-advantages-item">
                        <div class="what-we-advantages__img">
                            <img src="/local/templates/amika/amika/images/i/ico-power.png" alt="">
                        </div>
                        <div class="what-we-advantages__description">
                            Мы молоды<br> и энергичны
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /what we markup -->